<h1><%= @song.title %></h1> by <%= @song.artist_name %>
<% if @song.released? %>
  released in <%= @song.release_year %>
  <% end %>

<h4>Genre:</h4>
<%= @song.genre %>

<%= link_to 'edit', edit_song_path(@song) %>
